#customer-info {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#customer-info h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#customer-info ul {
    list-style-type: none;
    padding: 0;
}
#customer-info li {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
#customer-info-page {
  background-size: cover;
  background-position: center;
    padding: 20px;
}
#customer-info-page a {
  text-decoration: none;
  color: #f00000;
}
#customer-info-box1 {
   background-image: url(/High-fidelity-prototype/images/CustomerInfoBG.jpg);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}
#customer-info-box1:hover {
    background-color: #e0e0e0;
}