.titles {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.service-button {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 24px;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.service-button:hover {
    background-color: rgb(112, 244, 126);
    color: black;
    border: 2px solid black;
}
#services-container {
    position: relative; /* make button position relative to this container */
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 40px 24px;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: rgb(170, 227, 180);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.rows {
    display: flex;
    flex-direction: row;
    gap: 50px;
    max-width: 1300px;
    margin: 30px auto;
    padding: 0 12px;
    justify-content: center;
    align-items: flex-start;
}
.service-block {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    flex: 0 0 500px; 
    height: 500px; 
    background-color: rgb(255, 255, 255);
    position: relative; 
   
}
.service-block h2 {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.service-block p {
    font-size: 20px;
    margin-bottom: 10px;
    text-indent: 3em;
}
.Select_service {
    background-color: #0028f0; /* orange-ish for primary action */
    color: white;
    border: 2px solid #554aed;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 8px;
}
.Select_service:hover {
    background-color: #5bc4f0;
    color: white;
}
.service-image {
    width: 100%;
    height: 50%; /* fixed image height to fit card */
    max-width: 410px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 10px;
}
